<h1>Register:</h1>
<%= form_tag({controller: "users", action: "create"}, method: "post") do %>
  <%= label_tag(:first, "First name:") %><br/>
  <%= text_field_tag(:first) %><br/>
  <%= label_tag(:last, "Last name:") %><br/>
  <%= text_field_tag(:last) %><br/>
  <%= label_tag(:email, "Email:") %><br/>
  <%=text_field_tag(:email) %><br/>
  <%= label_tag(:login, "Login:") %><br/>
  <%= text_field_tag(:login) %><br/>
  <%= label_tag(:password, "Password:") %><br/>
  <%= password_field_tag(:password) %><br/>
  <%= label_tag(:password_confirmation, "Confirm password:") %><br/>
  <%= password_field_tag (:password_confirmation) %><br/>
  <%= submit_tag("Submit") %>
<% end %>
