<h1><%= @cur_user.first_name %> <%= @cur_user.last_name %>'s Site</h1>
<% if !((@cur_user.page).nil?) %>
  <%= @cur_user.page.site_name %><br/>
  <% for text_panel in @cur_user.page.text_panels %>
    <%= text_panel.panel_name %>
    <%= text_panel.id %><br/>
  <% end %>
<% end %>

