<!-- Color option -->
<%= stylesheet_link_tag asset_path "red.css", media: "all" %>

<% content_for :head do %>
  <% for picture_panel in @page.pictures %>
    <%= render 'sites/picture_panel_head', panel: picture_panel %>
  <% end %>
  <% for s_selectpanel in @page.s_selectpanels %>
    <% for option in s_selectpanel.options %>
      <%= render 'sites/options_head', option: option %>
    <% end %>
  <% end %>
  <% for m_selectpanel in @page.m_selectpanels %>
    <% for option in m_selectpanel.options %>
      <%= render 'sites/options_head', option: option %>
    <% end %>
  <% end %>
<% end %>

<nav class="panel_menu navbar-right" role="navigation">
<div class="navbar-header">Panels</div>
<br/>
<ul>
  <% for panel in @page.panels.order(:created_at)%>
    <li><a href="#panel<%=panel.id%>"><%=panel.panel_name%></a></li>
  <% end %>
</ul>
</nav>

<div class="formoid-default-red">
  <%= form_for @page do |f| %>
    <div id="site_info" class="input-group-addon">
      <%= f.label :site_name, "Site Name*:" %>
      <%= f.text_field :site_name %><br/>
      <br/>
      <%= f.label :description, "Site Description:" %>
      <%= f.text_area :description %><br/>
      <%= f.check_box :display_description %>
      <%= "Display description on page?" %><br/>
    </div>

    <% for panel in @page.panels.order(:created_at)%>
      <div>
        <% if panel.type == "TextPanel" %>
          <%= f.fields_for :text_panels, panel, child_index: panel.id do |builder| %>
            <%= render 'text_panel_fields', f: builder, panel_id: panel.id %>
          <% end %>
        <% elsif panel.type == "Picture" %>
          <%= f.fields_for :pictures, panel, child_index: panel.id do |builder| %>
            <%= render 'picture_fields', f: builder, panel_id: panel.id %>
          <% end %>
        <% elsif panel.type == "SSelectpanel" %>
          <%= f.fields_for :s_selectpanels, panel, child_index: panel.id do |builder| %>
            <%= render 's_selectpanel_fields', f: builder, panel_id: panel.id %>
          <% end %>
        <% else %> 
          <%= f.fields_for :m_selectpanels, panel, child_index: panel.id do |builder| %>
            <%= render 'm_selectpanel_fields', f: builder, panel_id: panel.id %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <table id="menu">
      <td><%= link_to_add_panels "text.png", f, :text_panels %></td>
      <td><%= link_to_add_panels "picture.png", f, :pictures %></td>
      <td><%= link_to_add_panels "single.png", f, :s_selectpanels %></td>
      <td><%= link_to_add_panels "multi.png", f, :m_selectpanels %></td>  
    </table>

    <div id="panel_button">
      <%= link_to("Add a panel", "#", class: "add_panel") %>
    </div>

    <div id="submit"> <%= f.submit "Publish" %></div>
  <% end %>
</div>
