<%= form_for @page do |f| %>
  <div>
    <%= f.label :site_name, "Site Name*:" %><br/>
    <%= f.text_field :site_name %><br/>
    <%= f.label :description, "Site Description:" %><br/>
    <%= f.text_area :description %><br/>
  </div>

  <%= f.fields_for :text_panels do |builder| %>
    <%= render 'text_panel_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Text panel", f, :text_panels %><br/>

  <%= f.fields_for :pictures do |builder| %>
    <%= render 'picture_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Picture panel", f, :pictures %><br/>

  <%= f.fields_for :s_selectpanels do |builder| %>
    <%= render 's_selectpanel_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Single Select panel", f, :s_selectpanels %><br/>

  <!--
  <div>
    <#% if !(@page_panels.nil?) %>
      <#% for existing_panel in @page_panels %>
        <#%= fields = add_existing_panel(f, existing_panel) %>
        <#%= javascript_tag do %>
          var content = "<#%= j fields %>";
          add_existing_fields(content);
        <#% end %>
      <#% end %>
    <#% end %>
    <div class="panels">
      <#%= link_to_add_panel(f) %>
    </div>
  </div> 
  -->

  <%= f.submit "Create page" %>
<% end %>
