<span class="input-group-addon">
  <%= f.label :panel_name, "Panel Name*:" %><br/>
  <%= f.text_field :panel_name %><br/>
  <%= f.check_box :display %>
  <%= f.label :display, "Display panel name?" %><br/>
  <%= f.label :info, "User Prompt*:" %><br/>
  <%= f.text_area :info %><br/>
  <%= f.fields_for :options do |builder| %>
    <%= render 'option_fields', f: builder %>
  <% end %>
  <%= link_to_add_option "Add option", f, :options %>

  <div class="tags">
    Panel present when user selects...
    <%= f.fields_for :tags do |builder| %>
      <%= render 'tag_fields', f: builder %>
    <% end %>

    <% if !(@options.nil?) %>
      <% for option in @options %>
        <%= add_tags f, :tags, option %>
        <%= option %>
      <% end %>
    <% end %>
  </div>

  <%= f.hidden_field :_destroy %>
  <%= link_to "remove", "#", class: "remove_fields" %>
</span>
