<% if f.object.new_record? %>
  <div id="panel">
  <% else %>
    <div id="panel<%=panel.id%>">
    <% end %>
    <span class="input-group-addon">
      <%= f.label :panel_name, "Panel title*" %>
      <%= f.text_field :panel_name %><br/>
      <%= f.check_box :display %>
      <%= "Display panel name?" %><br/><br/>
      <%= f.label :info, "User prompt for select options*" %>
      <%= f.text_area :info %><br/><br/>
      <%= f.fields_for :options do |builder| %>
        <%= render 'option_fields', f: builder, panel_id: panel.id %>
      <% end %>
      <% if panel %><!--Only called if the page has an m_selectpanel-->
        <%= link_to_add_option "Add option", f, :options, panel.id %>
      <% end %>

      <div>Panel present when user selects...</div>
      <br/>
      <% if !(f.object.new_record?) %>
        <div id="tags<%= panel.id %>">
          <% for option in panel.tags %>
            <%= f.fields_for :tags, option, child_index: option.id  do |builder| %>
              <%= render 'tag_fields', f: builder, option_name: option.name %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div id="tags">
          <% for option in @options %>
            <%= add_tags f, :tags, option, @page.id, "MSelectpanel" %>
          <% end %>
        </div>
      <% end %>
      <br/>
      <%= f.hidden_field :_destroy %>
      <%= link_to "remove", "#", class: "remove_fields" %>
      <div class="preview">
        <% if !(f.object.new_record?) %>
          <%= render template: 'sites/panel', :locals => {panel: panel} %>
        <% end %>
      </div>
    </span>
  </div>
