<% if f.object.new_record? %>
  <div id="panel">
  <% panel_id = 1234567890123 %>
  <% else %>
    <div id="panel<%=panel.id%>">
    <% panel_id = panel.id %>
    <% end %>
    <span class="input-group-addon">
      <%= f.label :panel_name, "Panel title*" %>
    <% if f.object.new_record? %>
      <%= f.text_field :panel_name %><br/>
    <% else %>
      <%= f.text_field :panel_name, id: panel.id, onblur: "update_panel_menu(this.value, this.id)" %><br/>
    <% end %>
      <%= f.check_box :display %>
      <%= "Display panel name?" %><br/><br/>
      <%= f.label :info, "User prompt for select options*" %>
      <%= f.text_area :info %><br/><br/>

      <% if f.object.new_record? %>
        <%= f.fields_for :options do |builder| %>
          <%= render 'option_fields', f: builder, panel_id: panel_id %>
        <% end %>
      <% else %>
        <%= f.fields_for :options, panel.options.order(:created_at) do |builder| %>
          <%= render 'option_fields', f: builder, panel_id: panel_id %>
        <% end %>
      <% end %>
      
      <% if f.object.new_record?%>
        <%= f.link_to_add "Add option", :options %>
      <% else %>
        <%= link_to_add_option "Add option", f, :options, panel.id %>
      <% end %>

      <div>Panel present when user selects...</div>
      <br/>
      <% if !(f.object.new_record?) %>
        <!--Check if tags is empty.  If not, print Panel present when...-->
        <% if !(panel.tags.empty?) %>
          <div>Panel present when user selects...</div>
        <% end %>
        <div id="tags<%= panel.id %>">
          <% for tag in panel.tags.order(:created_at) %>
            <%= f.fields_for :tags, tag, child_index: tag.id  do |builder| %>
              <%= render 'tag_fields', f: builder, option_name: tag.name %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div id="tags">
        </div>
      <% end %>
      <br/>
      <%= f.hidden_field :_destroy, class: "destroy" %>
      <%= link_to "remove", "#", class: "remove_fields" %>
      <% if !(f.object.new_record?) %>
        <div class="preview">
          <%= render template: 'sites/panel', :locals => {panel: panel} %>
        </div>
      <% end %>
    </span>
  </div>
