<p class="panel_fields">
  <%= f.label :panel_name, "Panel Name*:" %><br/>
  <%= f.text_field :panel_name %><br/>
  <%= f.label :display, "Display panel name?" %>
  <%= f.check_box :display %><br/>
  <%= f.label :panel_type, "Panel Type*:" %><br/>
  <%= f.select(:panel_type, options_for_select([["Visual element","vis    ual"],["Select form","select"],["Info summary","info"]], "visual"))%><br/>
  <%= f.label :background, "Background image:" %><br/>
  <%= f.file_field :background %><br/>
  
  <%= f.hidden_field :_destroy, id: "destroy" %>
  <%= link_to_function "remove", "remove_fields(this)" %>  
</p>
