<fieldset>
  <%= f.label :panel_name, "Panel Name*:" %><br/>
  <%= f.text_field :panel_name %><br/>
  <%= f.check_box :display %>
  <%= f.label :dislay, "Display panel name?"%><br/>
  <%= f.label :description, "Panel Info:"%><br/>
  <%= f.text_area :description %><br/>
  <%= f.label :photo, "Upload file*: " %>
  <%= f.file_field :photo %><br/>

  <% if !(@options.nil?) %>
    <div class="tags">
      Panel present when user selects...
      <% for option in @options %>
        <%= add_tags f, :tags %>
        <%= option %>
      <% end %>
    </div>
  <% end %>

  <%= f.hidden_field :_destroy %>
  <div class="remove"><%= link_to "remove", "#", class: "remove_fields" %><div>
    </fieldset>
