<!--Instructions for creating a page-->
<h1 class="instructions">Getting started:</h1>
<p class="instructions">Name your site and add an optional description.</p>
<div class="demo_pic"><img src="<%=asset_path 'name_site.png'%>"></div>
<p class="instructions">Create different types of panels to display information and interact with users.
<div class="demo_pic"><img src="<%=asset_path 'create_panels.png'%>"></div>
<p class="instructions">Information can be displayed as text or through a picture.</p>
<div class="demo_pic"><img src="<%=asset_path 'add_text.png'%>"></div>
<p class="instructions">Cater information to the users' interests using select panels.</p>
<div class="demo_pic"><img src="<%=asset_path 'add_select.png'%>"></div>
<p class="instructions">A preview of each panel generates directly beneath its form fields.</p>
<div class="demo_pic"><img src="<%=asset_path 'preview_panels.png'%>"></div>
<p class="instructions">Set subsequent panel visibility based on the options that the user selects.</p>
<div class="demo_pic"><img src="<%=asset_path 'set_visibility.png'%>"></div>
<p class="instructions">Publish your site!</p>
<div class="demo_pic"><img src="<%=asset_path 'your_site.png'%>"></div>
<br/>
<p><a href="new">I'm ready to start creating!</a></p>
