<%= form_for @page do |f| %>
  <div>
    <%= f.label :site_name, "Site Name*:" %><br/>
    <%= f.text_field :site_name %><br/>
    <%= f.label :description, "Site Description:" %><br/>
    <%= f.text_area :description %><br/>
  </div>
  <div>
    <div class="panels">
      <%= link_to_add_panel(f) %>
    </div>
    
    <% if !(@page_panels.nil?) %>
      <% for existing_panel in @page_panels %>
        <%= fields = add_existing_panel(f, existing_panel) %>
        <!--Not throwing an error but not adding panels
        <%= javascript_tag do %>
          var content = "<%= j fields %>";
          add_existing_fields(content);
          -->
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= f.submit "Create page" %>
<% end %>
