<%= form_for @page do |f| %>
  <div>
  <%= f.label :site_name, "Site Name*:" %><br/>
  <%= f.text_field :site_name %><br/>
  <%= f.label :description, "Site Description:" %><br/>
  <%= f.text_area :description %><br/>
  </div>
  <div>
  <%= link_to_add_panel(f) %>
  </div>
  <%= f.submit "Create page" %>
<% end %>
