<section id='page-services' class='page-services single-select'>
<div class='container'>
  <header class='section-header'>
  <h2 class='section-title'>
    <span>
      <%= render 'panel_title', panel: panel %>
    </span>
  </h2>
  <div class='spacer'>
  </div>
  <p class='section-subtitle'>
  <%= render 'panel_info', panel: panel %>
  </p>
  </header>
  <% count = 0 %>
  <% if !((panel.options).nil?) %>
    <% for option in panel.options %>
      <% if (count % 3) == 0 %>
        <div class='row'>
        <% end %>
        <div class='col-md-4'>
          <div class='service-block'>
            <div class='service-icon'>
              <i class='fa fa-<%=option.id%>'></i>
            </div>
            <h3><%= option.option_title %></h3>
            <p><%= option.info %></p>
          </div>
        </div>
        <% count = count + 1 %>
        <% if (count % 3) == 0 %>
        </div>
      <% end %>
    <% end %>
    <% if (count % 3) != 0 %>
    </div>
  <% end %>
<% end %>
</div>
</section>
