<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= @page.site_name %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">

  <!-- Color option -->
  <%= stylesheet_link_tag asset_path "red.css", media: "all" %>

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <% content_for :head do %>
    <% for picture_panel in @page.pictures %>
      <%= render 'picture_panel_head', panel: picture_panel %>
    <% end %>
    <% for s_selectpanel in @page.s_selectpanels %>
      <% for option in s_selectpanel.options %>
        <%= render 'options_head', option: option %>
      <% end %>
    <% end %>
    <% for m_selectpanel in @page.m_selectpanels %>
      <% for option in m_selectpanel.options %>
        <%= render 'options_multi_head', option: option %>
      <% end %>
    <% end %>
    <% for quote_panel in @page.quote_panels %>
      <%= render 'quote_panel_head', panel: quote_panel %>
    <% end %>
  <% end %>
</head>
<body>
  <div class='page_id' id=<%=@page.id%>></div>
  <section id='page-welcome' class='page-welcome'>
  <div class='container'>
    <div class='row'>
      <div class='flexslider '>
        <p class='intro-text'>
        <%= @page.site_name %>
        </p>
      </div>
      <p class='intro-subtext'>
      <% if !(@page.description.nil?) %>
        </br><%= @page.description %>
      <% end %>
      </p>
      <button id='go' class='btn btn-default learn-more'>
        BEGIN
        <!-- This makes the word BEGIN unclickable -->
        <!--<div data-hover='Learn More'>BEGIN</div>-->
      </button>
    </div>
  </div>
  </section>

  <div id="site_panels">
    <% for panel in @page.panels.order(:created_at)%>
      <div id="panel_<%=panel.id%>">
        <% if panel.type == "TextPanel" %>
          <%= render 'text_panel', panel: panel %>
        <% elsif panel.type == "Picture" %>
          <%= render 'picture_panel', panel: panel %>
        <% elsif panel.type == "SSelectpanel" %>
          <%= render 's_selectpanel', panel: panel %>
        <% elsif panel.type == "MSelectpanel" %>
          <%= render 'm_selectpanel', panel: panel %>
        <% elsif panel.type == "LeftPicTextpanel" %>
          <%= render 'left_pic_textpanel', panel: panel %>
        <% elsif panel.type == "PicCaptionPanel" %>
          <%= render 'pic_caption_panel', panel: panel %>
        <% else %>
          <%= render 'quote_panel', panel: panel %>
        <% end %>
      </div>
      <% if !(@panels.include?(panel)) %>
        <script type="text/javascript">
          var panel = document.getElementById("panel_" + <%= j panel.id.to_s%>);
          $(panel).hide();
          </script>
        <% end %>
      <% end %>
    </div>
    <!-- welcome begins -->
    <!-- Nav starts -->
    <!--
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Breaking News</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav nav-effect" id="main-menu">
            <li><a href="#page-welcome"><span data-hover="b">Home</span></a></li>
            <li><a href="#page-services"><span data-hover="Services">Type</span></a></li>
            <li><a href="#page-about"><span data-hover="About">Preference</span></a></li>
            <li><a href="#page-portfolio-controls"><span data-hover="Portfolio">Portfolio</span></a></li>
            <li><a href="#page-contact"><span data-hover="Contact">Contact</span></a></li>
          </ul>
        </div>
      </div>
      -->
    </body>
  </html>
