<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= javascript_include_tag "jquery-1.10.2.min.js" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= yield :head %>
    <%= csrf_meta_tags %>
    <div ID="header">
      <div ID="register">
        <% if session[:user_id] %>
          Hi <%= link_to session_user.first_name, session_user %>! <%= link_to "Logout", controller: "users", action: "logout" %>
        <% else %>
          <%= link_to "Login", controller: "users", action: "login" %>/
          <%= link_to "New User", controller: "users", action: "new" %>
        <% end %>
      </div>
      <%= link_to "Ink", controller: "home" %>
    </div>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

